#bienvenida{
    font-size: 30px;
    padding: 10px;
    padding-right: 2%;
    border-bottom: 1px solid #000;
    text-align: right;
    color: #8D397C;
    width: 99.7%;
}

#bienvenida .text-start {
    color: #8D397C;
}

#pub_date{
    margin-bottom: 0;
}

.custom-row {
    max-width: 955px; /* Ajusta el valor según tus necesidades */
}

#price{
    font-weight: bold;
    font-size: x-large;
}

#description{
    font-size: large;
}

#num_comentario{
    font-size: large;
}

.boton{
    background-color: #8D397C;
    border-color: #8D397C;
    font-size: 14px;
    font-weight: bold;
}

.boton:hover{
    background-color: #E5D6E2;
    color:#8D397C;
    border: 1px solid #8D397C;
}

.comentar-input{
        background-color: transparent !important;
        border: none;

}

 .comentar-input:focus {
        box-shadow: none !important;
        border-color: transparent !important;
 }

 .input-group{
        border-bottom: none !important;
        box-shadow: none !important;
 }

 .comentario p,img{
     display: inline-block;
 }

