body{
    background-color: #DBDBDB;
}

#barra_izquierda{
    border-right: 1px solid #000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    margin-bottom: 0;
}

#logo{
    width: 150%;
    height: auto;
}


#opciones{
    margin-left: 5%;
    font-size: 20px;  
}

.nav-link{
    color: #000;
    padding-bottom: 1px;
    padding-top: 1px;   
}

.links_feed:hover{
    color:#8D397C;  
    font-weight: bold;
}

#link_feed_selected{
    color:#8D397C;  
    font-weight: bold;
    background-color: #E5D6E2;
    border-left: 6px solid #8D397C;
}


#crear_pub{
    background-color: #8D397C;
    border-color: #8D397C;
    font-size: 16px;
    font-weight: bold;

}

#crear_pub:hover{
    background-color: #E5D6E2;
    color:#8D397C;
    border: 1px solid #8D397C;
}


#imagen_cantante{
    margin-top: 40%;
    opacity: 0.3;
}

#user_foto{
    margin: 8px;
}

#nombre_usuario{
    font-size: 13px;
    font-weight: 600;
}

#desconectar{
    font-size: 25px;
    text-align: right;
    margin-left: auto;
    margin-bottom: 0;
}

#desconectar:hover{
    color:#8D397C;  
}


#contenido{
    margin-left:17.1%;
    padding-left: 0px;
}

#bienvenida{
    font-size: 30px;
    padding: 10px;
    padding-right: 50px;
    border-bottom: 1px solid #000;
    text-align: right;
    color: #8D397C;
    font-weight: bold;
    
}
/* Styles para editar perfil */
#CambiarFoto{
    margin: 3%;
    margin-top: 1%;
    margin-bottom: 8%;
    padding-top: 25px;
    padding-bottom: 50px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    font-family: candara;
    background-color: #E5D6E2;
    box-shadow: 3px 3px 10px #414141;
}
#Foto{
    background-color: #3B398D;
}
#EditarDatos{
    background-color: #E5D6E2;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 0%; 
    margin-bottom: 0%;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 3px 3px 10px #414141;
}
#Botones{
    padding-top: 25px;
}
#Cancelar{
    font-weight: bold;
}
#Guardar{
    font-weight: bold;
    margin-left: 25px;
    background-color: #3B398D;
    
}
#Eliminar{
    font-weight: bold;
    margin-left: 25px;
    background-color: #8D3939;
}
/* Styles para las credencias-falta acabar */
.warningHexagon{
    width: 100px;
    height: auto;
}

.modal-footer{
    padding-right: 7em;
}

#Credenciales{
    border: none;
    box-shadow: none;
}

#BotonCredencial{
    padding-top: 25px;
    display: flex;
    justify-content: flex-end;
}
#PreguntaFinal{
    text-align: center;
}

#advertencia{
    padding-top: 9%;
}

