body{
    background-color: #DBDBDB;
}

/* Styles para lado izquierdo */
#barra_izquierda{
    border-right: 1px solid #000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    margin-bottom: 0;
}

#logo{
    width: 150%;
    height: auto;
}

#opciones{
    margin-left: 5%;
    font-size: 20px;
}

.nav-link{
    color: #000;
    padding-bottom: 1px;
    padding-top: 1px;
}

.links_feed:hover{
    color:#8D397C;
    font-weight: bold;
}

.link_feed_selected{
    color:#8D397C;
    font-weight: bold;
    background-color: #E5D6E2;
    border-left: 6px solid #8D397C;
}

#crear_pub{
    background-color: #8D397C;
    border-color: #8D397C;
    font-size: 16px;
    font-weight: bold;
}

#crear_pub:hover{
    background-color: #E5D6E2;
    color:#8D397C;
    border: 1px solid #8D397C;
}

#imagen_cantante{
    margin-top: 40%;
    opacity: 0.3;
}

#user_foto{
    margin: 8px;
}

#nombre_usuario{
    font-size: 13px;
    font-weight: 600;
}

#desconectar{
    font-size: 25px;
    text-align: right;
    margin-left: auto;
}

#desconectar:hover{
    color:#8D397C;
}


/* Styles para el medio */


#contenido{
    margin-left:18%;
    padding-left: 0px;
    margin-right: 0;
}


#bienvenida{
    font-size: 30px;
    padding: 10px;
    padding-right: 0px;
    padding-bottom: 0px;
    border-bottom: 1px solid #000;
    text-align: right;
    color: #8D397C;
    width: 99.7%;
}

#bienvenida .text-start{
    color: black;
}

#bienvenida>div>i{
    color: #8D397C;
}

#backBtn{
    cursor: pointer;

}

#create{
   font-size: 24px;
   font-weight: 500;
}

.recomendado{
    font-weight: 400;
    color: black;
}

.recomendado img{
    margin-right: 10px;
}

.recomendado p{
    display: inline-block;

}

#ver-perfil{
    background-color: #8D397C;
    border-color: #8D397C;
    font-size: 16px;
    font-weight: bold;
    margin-left: 15% ;
}

#ver-perfil:hover{
    background-color: #E5D6E2;
    color:#8D397C;
    border: 1px solid #8D397C;
}

.bi-eye-fill{
    margin-left: 10px ;
}

/* Styles para lado derecho */

#barra_derecha{
    border-left: 1px solid #000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
}

#buscar{
    background-color: transparent;
}

#buscar:focus {
  outline: none; /* Elimina el borde al hacer clic */
}

#barra_busqueda{
    padding: 0px;
}

.input-group{
    border: #a5a0a0 solid;
    border-width: 0px 0px 1px 0px;
}

#icono_busqueda{
    background-color: transparent;
    border-color: #666;
    border-width: 0px 0px 1px 0px;
}

#buscar::-webkit-search-cancel-button,
#buscar::-webkit-search-clear-button,
#buscar::-webkit-search-results-button,
#buscar::-webkit-search-results-decoration {
  display: none;
}

#barra_busqueda input:focus{
    outline: none;
}

#publicidad{
    font-weight: bold;
    padding-bottom: 6px;
    padding-top: 6px;
    background-color: #FF4748;
    color: white;
}

#titulo{
    text-align: center;
}

#publicidad img{
    width: 160px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#publicidad p{
    font-weight: normal;
    margin-bottom: 2px;
}


#contactanos{
    padding-top: 7px;
    color: #8D397C;
    font-size: 14px;
}

#contacto{
    font-weight: bold;
    font-size: 22px;
}

#info {
    display: flex;
    align-items: center;
}

#info i{
    font-size: 30px;
}

#info span{
    color: #000;
    margin-left: 10px;
    text-align: center;
    justify-content: center;
}

#redes{
    display: flex;
    justify-content: center;
    align-items: center;
}

#redes i{
    font-size: 30px;
    margin: 0 10px
}


