html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#pubs{
    padding: 0px 45px;
}

#bienvenida{
    padding-bottom: 0px;
}

.marketplaceNavBar{
    line-height: 30px;
}

.marketplaceNavBar>p{
    color: #696969;
}

.marketplaceNavBar.active{
    border: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #8D397C;
}

.marketplaceNavBar.active>p{
    color: #8D397C;
}

.articleImg>img{
    width: 100%;
    object-fit: contain;
}

#backBtn{
    cursor: pointer;
}

#bienvenida>div>i{
    color: #8D397C;
}

.formContainer{
    background-color: #E5D6E2;
    padding: 20px;
    margin: 10px 50px 10px 20px;
}

#itemDescription{
    resize: none;
}

.uploadImageContainer{
    background-color: #C4C4C4;
    height: 20em;
    padding: 8em 0em;
    cursor: pointer;
}

.uploadImageContainer>p{
    font-size: 2em;
    line-height: 2em;
}

.btn-cancel{
    color: #FFFFFF;
    background-color: #6C626A; 
}

.btn-publish{
    color: #FFFFFF;
    background-color: #3B398D;
}

#charCountMessage{
    text-align: right;
    color: #767676;
}